

.transportation{
    padding: 2rem;
    @include tablet{
        padding: 0;
    }
}


@include tablet{
    .iconos-transportation{
        @include grid(3, 2rem);
    }
}


.icono{
    text-align: center;
    margin-bottom: 5rem;
    img{
        height: 20rem;
        
    }
    h3{
        text-transform: uppercase;
        color: lighten($azul,10%);
        font-weight: $black;
    }
}