.clip {
    /* Push the main content below the header initially */
    
}

.portada{
    height: 370vh;
    background-image: url(../img/portada.webp);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat; 
    position: relative;
    .overlay{
        background: rgba(0, 0, 0, 0.4);
    }
    
}


.transportation-section{
    background-color: $blanco;
}
.transportation{
    padding: 2rem;
    
    @include tablet{
        padding: 0;
        padding-top: 8rem;
    }
}


@include tablet{
    .iconos-transportation{
        @include grid(3, 2rem);
    }
}


.icono{
    text-align: center;
    margin-bottom: 5rem;
    img{
        height: 20rem;
        
    }
    h3{
        text-transform: uppercase;
        color: lighten($azul,10%);
        font-weight: $black;
    }
}