.barraOverlay{
    background-color: rgba($color: #000000, $alpha: .3);
    border-radius: .5rem;
}
.barra{
    img{
        width: 20rem;
    }
    .active{
        color: $rojo;
    }
    display: flex;
    flex-direction: column;
    .barra-interna{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        &.fixed{
            position: fixed;
            z-index: 3;
            left: 0;
            top: 0;
            width: 100%;
            background-color: rgba(68, 6, 182, 0.705);
            box-shadow: .1rem .2rem .3rem #333;
            padding: .5rem;
            padding-right: 2rem;
            img{
                width: 15rem;
            }
        
        }
    }
}

.navegacion{
    visibility: hidden;
    
    opacity: 0;
    transition: visibility 0.5s ease-in-out, opacity .5s ease-in-out;
    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a{
        color: $blanco;
        text-decoration: none;
        
        font-size: 1.8rem;
        font-weight: $bold;
        display: block;
        text-align: center;
        
        @include tablet{
            margin-right: 3rem;
            font-size: 1.5rem;
            &:last-of-type{
                margin-right: 0;
            }
            &:hover{
                color: $rojo;
            }
        }
    }
    a.logueado {
    // Additional styles for <a> tags with class typea
    color: $rojo;
    &:hover{
        color: $blanco;
    }
    
    }
    a.deslogueado {
    // Additional styles for <a> tags with class typea
    color: $amarillo;
    &:hover{
        color: $blanco;
    }
    }
}

.mobile-menu{
    margin-bottom: 1rem;
    @include tablet{
        display: none;
        
    }
    img{
        width: 5rem;
    }

}

.mostrar{
    visibility: visible;
    
    opacity: 1;
}