.testimoniales{
    position: relative;
    height: 100vh;
    @include tablet{
        position: sticky;
        top: 100px;
        

    }
    
}

.testimoniales-container {
    
    width: 100%;
    
    
    
}

.testimonial{
    
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    background-color: $verde;
    font-size: 1.8rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;
    

    blockquote{
        padding-left: 3rem;
        position: relative;
        &::before{
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            top: -2rem;
            left: -3rem;
        }
    }
    p{
        text-align: right;
        color: $blanco;
    }
}

.testimonial.active {
    opacity: 1;
    z-index: 3;
}

