.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 1rem;
    text-shadow: 1px 1px 2px $negro ;
    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
    &.act{
        background-color: $amarillo;
    }
}

table.listados{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    thead{
        background-color: $azul;
        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    .imagen-tabla{
        width: 10rem;
    }
    td{
        text-align: center;
        .status_label{
            cursor: pointer;
            &:hover{
                background-color: darken($rojo,10%);
            }
        }
    }
}

.imagen-small{
    width: 20rem;
}

.listado_appointments{
    padding: 1rem;
    .list_header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .list_filtros{
            margin-right: 5rem;
            display: flex;
            gap: 2rem;
            align-items: center;
            input,
            select{
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                
            }
            input{
                min-width: 25rem;
            }
            button{
                margin-top: 0;
            }
        }
    }

    table{
        tbody{
            td{
                padding: 0 1rem;
                .status{
                padding: .7rem 1rem ;
                border-radius: 1rem;
                text-transform: uppercase;
                font-weight: $black;
                color: white;
                }
                .status-open {
                    background-color: $amarillo; /* Color for status 1 */
                }

                .status-cancelled {
                    background-color: $rojo; /* Color for status 3 */
                }

                .status-default {
                    background-color: $azul; /* Color for status 4 */
                }

                .status-finished {
                    background-color: $verde; /* Color for status 2 */
                }
            
            }
            
        }
    }
    
}
